body {
    margin:0;
    margin-top:50px;
}
header {

    display:flex;
    position:fixed;
    top:0;
    left:0;
    right:0;
    height:50px;
    line-height:50px;
    background-color: rgb(122, 185, 108);

}
header * {
    display: inline;
    height: 50px;
}
header ul {
    padding:0;
}
section {
    height: 100vh;
    border: 1px solid green;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.brownie1{
    width:300px;
    border-radius: 10%;
}
footer {
    text-align: center;
    padding:50px;
}
#hero h3{
    font-size: 3em;
}
section h2{
    font-size: 2.5em;
}
section h3{
    font-size: 1.5em;
}
header a{
    text-decoration: none;
    color:rgb(0, 0, 0)
}
#hero {
    background-image:linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)),url("background.jpg");
    
}
#about{
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)),url("balls.webp");

}
#contact{
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)),url("dogs.jpg");

}